body {
    font-family: "Futura", sans-serif;
    background-color: azure;
    text-align: center;
}

body.exhibit-page {
    background-color: wheat;
}

a {
    text-decoration: underline;
    color: purple;
    padding: 15px;
}

#description {
    color: black;
}